{% extends "template.html" %}
{% block content %}

<!-- metodo http que 'empurra' os dados para o servidor -->
<form action="/atualizar" method="POST" enctype="multipart/form-data">

    <figure class="img-thumbnail col-md-4">
    
        <!-- para carregar a capa_padrao, foi passado o nome do arquivo para a rota que realiza a busca e o retorno da imagem para o formulario -->
        <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
        <figcaption>
            <label class="file-container">
                mudar capa
                
                <!-- input que permite que arquivos sejam adicionados, aceitando jpg -->
                <input type="file" name="arquivo" accept=".jpg">
            </label>
        </figcaption>
    </figure>

    <fieldset>
        <!-- input invisuvel para guardar o id do jogo a ser usado para atualizar o jogo no banco de dados -->
        <input type="hidden" name="id" value="{{ id }}">

        <!-- para que o formulario seja realmente enviado para o servidor, precisa do csfr_toke() do flask_wtf -->
        {{ form.csfr_token() }}
        
        <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.salvar(class="btn btn-primary") }}
            
            <!-- botao de navegacao -->
            <a class="btn btn-danger" href="{{ url_for('index') }}">voltar</a>
        </div>
    </fieldset>
</form>

{% endblock %}