{% extends "template.html" %}
{% block content %}

<!-- botoes de navegacao -->
<div>
    <a class="btn btn-primary" href="{{ url_for('login') }}">login</a>
    <a class="btn btn-danger" href="{{ url_for('logout') }}">logout</a>
</div>
<div>
    <a class="btn btn-primary" href="{{ url_for('novo') }}">novo jogo</a>
</div>

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
        </tr>
    </thead>
    <tbody>
        <!-- inicia o foreach dentro do html -->
        {% for jogo in jogos %}
        <tr>
            <!-- variavel que vai receber cada iteracao do foreach -->
            <td>{{ jogo.nome }}</td>
            <td>{{ jogo.categoria }}</td>
            <td>{{ jogo.console }}</td>

            <!-- passa o 'id' do jogo como parametro para a rota 'editar' -->
            <td><a href="{{ url_for('editar', id=jogo.id) }}">editar</a></td>
            <td><a href="{{ url_for('deletar', id=jogo.id) }}">deletar</a></td>
        </tr>
        <!-- finaliza o foreach dentro do html -->
        {% endfor %}
    </tbody>
</table>

{% endblock %}