{% extends "template.html" %}
{% block content %}

<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
        </tr>
    </thead>
    <tbody>
        <!-- inicia o foreach dentro do html -->
        {% for jogo in jogos %}
        <tr>
            <!-- variavel que vai receber cada iteracao do foreach -->
            <td>{% print(jogo.nome) %}</td>
            <td>{% print(jogo.categoria) %}</td>
            <td>{% print(jogo.console) %}</td>

            <!-- passa o 'id' do jogo como parametro para a rota 'editar' -->
            <td><a href="{{ url_for('editar', id=jogo.id) }}">editar</a></td>
            <td><a href="{{ url_for('deletar', id=jogo.id) }}">deletar</a></td>
        </tr>
        <!-- finaliza o foreach dentro do html -->
        {% endfor %}
    </tbody>
</table>

{% endblock %}