{% extends "template.html" %}
{% block content %}

<!-- pode-se passar o 'url_for' para encontrar funcoes das rotas, ao inves da pagina 'html' -->
<form method="POST" action="{{ url_for('autenticar') }}">
    
    <!-- inupt invisivel ao ususario, que recebe o valor da variavel 'proxima' na url , e assim o valor poder ser capturado pelo 'flask' e a funcao encaminhar para a pagina que estiver contida em 'proxima' -->
    <input type="hidden" name="proxima" value="{{ proxima }}">
    
    <!-- para que o formulario seja realmente enviado para o servidor, precisa do csfr_toke() do flask_wtf -->
    {{ form.csrf_token() }}
    
    <!-- inptus do formulario utilizando o 'flask_wtf' -->
    <div>
        {{ form.nickname.label(class="form-label") }}
        {{ form.nickname(class="form-control") }}
    </div>
    <div>
        {{ form.senha.label(class="form-label") }}
        {{ form.senha(class="form-control") }}
    </div>
    <div>
        {{ form.entrar(class="btn btn-primary") }}
    </div>

</form>

<!-- botao de navegacao -->
<a class="btn btn-danger" href="{{ url_for('index') }}">pagina inicial</a>

{% endblock %}